html {
  scroll-behavior: smooth;
}
.status-text > p {
}
.increase-text {
  display: inline-block;
}
.current-text {
  display: inline-block;
}
p {
  margin: 0;
}
* {
  box-sizing: border-box;
}
#tagBar {
  margin: 0 0 0 0;
}
#tagBar > li {
  list-style-type: none;
  display: inline-block;
  margin-left: 20px;
  border-radius: 10%;
}
#populationList > tbody > tr.active {
  background-color: #0d6efd;
  color: white;
}

.icon-question {
  fill: #d1d3e2;
}
#listCardBody {
  overflow: auto;
}
